# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.IanFirstGame.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unreal Projects\IanFirstGame\.idea\.idea.IanFirstGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
